.heading .head{
    position: absolute;
    top: 180px;
    left: 650px;
    text-align: center;
    width: 200px;
    /* background-color: blue; */
    color: #fff;
    z-index: 1;
    
}

.heading .head h1{
    font: 30px;
}

.shadowOpacity{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 45vh;
}

.heading img{
    width: 100%;
    height: 45vh;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    align-items: center;
}

.wrapper .box img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    
}

.wrapper .box{
    align-items: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper .box ul{
    list-style: none;
    font-size: 25px;
}

.wrapper .box ul li{
    padding: 10px;
}


.registration_form_area .registration_form{
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    max-height: 800px;
    background: #fff;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
}

.registration_form_area .registration_form .title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(20, 149, 156);
    text-transform: uppercase;
    text-align: center;
}

.registration_form_area .registration_form .form{
    width: 100%;
}

.registration_form_area .registration_form .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.registration_form_area .registration_form .form .input_field label{
    width: 200px;
    margin-right: 10px;
    font-size: 20px;
}

.registration_form_area .registration_form .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.registration_form_area .registration_form .form .input_field textarea{
    resize: none;
    height: 100px;
}

.registration_form_area .registration_form .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
    
}

.registration_form_area .registration_form .form .input_field .custom_select select{
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.registration_form_area .registration_form .form .input_field .input:focus,
.registration_form_area .registration_form .form .input_field select:focus{
    border: 1px solid #fe3807;
}

.registration_form_area .registration_form .form .submit_button{
    text-align: center;
}

.registration_form_area .registration_form .form .submit_button .btn{
    width: 35%;
    height: 50px;
    margin: 30px;
    padding: 8px 10px;
    font-size: 25px;
    font-weight: 700;
    /* text-transform: uppercase; */
    border: 0;
    background: #6666FF;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.registration_form_area .registration_form .form .submit_button .btn:hover{
    background: #6666CC;
    box-shadow: 4px 4px 15px 10px rgba(0, 0, 0, 0.25);
}